.container{
    max-width: 350px;
    border: 1px solid black;
    display: flex;
}


.item{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;

}

.flex{
    flex: 1;
}

.center{
    align-items: center;
}